---
import PageHeader from "@/components/PageHeader.astro";
import Shape from "@/components/Shape.astro";
import Base from "@/layouts/Base.astro";
import IntegrateMedia from "@/layouts/function-components/IntegrateMedia";
import { getSinglePage } from "@/lib/contentParser.astro";
import { getTaxonomy } from "@/lib/taxonomyParser.astro";
import type { TIntegrationsIndex } from "@/types";
import { getEntryBySlug } from "astro:content";

// Fetch patrocinadores nuevos data (Hero section)
const patronNuevosIndex = (await getEntryBySlug<any, string>(
  "patrocinadores-nuevos",
  "-index",
)) as TIntegrationsIndex;
const patronNuevosCategories = await getTaxonomy("patrocinadores-nuevos", "categories");
const patrocinadoresNuevos = await getSinglePage("patrocinadores-nuevos");

// Fetch patrocinadores data
const patronIndex = (await getEntryBySlug<any, string>(
  "patrocinadores",
  "-index",
)) as TIntegrationsIndex;
const patronCategories = await getTaxonomy("patrocinadores", "categories");
const patrocinadores = await getSinglePage("patrocinadores");

// Fetch colaboradores data
const collabIndex = (await getEntryBySlug<any, string>(
  "colaboradores",
  "-index",
)) as TIntegrationsIndex;
const collabCategories = await getTaxonomy("colaboradores", "categories");
const colaboradores = await getSinglePage("colaboradores");

const patron_nuevos_data = {
  ...patronNuevosIndex.data,
  content: patronNuevosIndex.body,
};

const page_data = {
  ...patronIndex.data,
  content: patronIndex.body,
};

const collab_data = {
  ...collabIndex.data,
  content: collabIndex.body,
};
---

<Base
  title={patronNuevosIndex.data.title}
  meta_title={patronNuevosIndex.data.meta_title}
  description={patronNuevosIndex.data.description}
  image={patronNuevosIndex.data.image}
>
  <Shape />
  <section class="page-hero pb-14 pt-16">
    <div class="container -mt-14">
      <PageHeader page_data={patron_nuevos_data} />
    </div>
  </section>

  {/* Nuevos Patrocinadores section (Hero) */}
  <IntegrateMedia
    client:load
    integrations={patrocinadoresNuevos}
    categories={patronNuevosCategories}
  />

  {/* Patrocinadores title section */}
  <section class="page-hero pb-14 pt-16">
    <div class="container">
      <PageHeader page_data={page_data} />
    </div>
  </section>

  {/* Patrocinadores Anteriores section */}
  <IntegrateMedia
    client:load
    integrations={patrocinadores}
    categories={patronCategories}
  />

  {/* Colaboradores title section */}
  <section class="page-hero pb-14 pt-16">
    <div class="container">
      <PageHeader page_data={collab_data} />
    </div>
  </section>

  {/* Colaboradores section */}
  <IntegrateMedia
    client:load
    integrations={colaboradores}
    categories={collabCategories}
  />
</Base>